{% extends 'base_generic.html' %}
{% block title %}3D MIEM{% endblock %}

{% block content %}

<style>
    h6 {
        font-size: calc(min(21px, 1.15rem + .12vw)*0.85)
    }

    p {
        font-size: calc(min(18px, 1.02rem + .1vw)*0.85)
    }

</style>

<div class="mt-auto" style="padding: 5% 0 7% 0;">
    <div class="container p-4">
        <p class='text-center mb-4 display-6'>
            <strong>Подача заявки на 3D печать</strong>
            <br>
        </p>
        <p class='text-center mb-4 fs-4'>
            <small class="text-muted">Как подать заявку?</small>
        </p>
    </div>

    <div class="col-lg-5 col-md-7 mb-4 mb-md-0 mt-auto" style='margin: auto'>
        <table class="table table-borderless flex-grow-1 pe-3" style='margin: auto'>
            <tbody>
                <tr>
                    <th scope="row">
                        <h1><i class="bi bi-1-circle" style='color:#1f5bff;'></i></h1>
                    </th>
                    <td>
                        <h6>Cоздайте модель</h6>
                        <p>Создайте ваш проект. <a href="{% url 'instructions' %}">Инструкцию</a> 
                            можете посмотреть на нашем сайте.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <h1><i class="bi bi-2-circle" style='color:#1f5bff;'></i></h1>
                    </th>
                    <td>
                        <h6>Подайте заявку</h6>
                        <p>Заполните <a href="{% url 'appform' %}">анкету</a>
                            и подайте заявку. Не забудьте прикрепить файлы.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <h1><i class="bi bi-3-circle" style='color:#1f5bff;'></i></h1>
                    </th>
                    <td>
                        <h6>Отслеживайте статус вашего заказа.</h6>
                        <p>Отслеживайте статус вашего заказа в своем <a href="{% url 'profile' %}">личном&nbsp;кабинете</a> или в нашем <a href='https://t.me/print_3d_miem_hse_bot'>Telegram-боте</a>.</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <h1><i class="bi bi-4-circle" style='color:#1f5bff;'></i></h1>
                    </th>
                    <td colspan="2">
                        <h6>Ваш заказ готов!</h6>
                        <p>Приходите в гости к нам в лабораторию и заберите ваш заказ.
                            Желательно предупредить заранее.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
