{% extends 'base_generic.html' %}
{% block title %}3D MIEM{% endblock %}

{% block content %}
	<div class="mt-auto" style="padding: 5% 0 10% 0;">
        <div class="container p-4">
            <p class='text-center mb-4 display-6'>
                <strong>Подача заявки на 3D печать</strong>
                <br>
            </p>
            <p class='text-center mb-4 fs-4'>
                <small class="text-muted">Как же подать заявку?</small>
            </p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mt-auto" style='margin: auto'>
            <table class="table table-borderless flex-grow-1 pe-3" style='margin: auto'>
                <thead>
                  <tr>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><h1><i class="bi bi-1-circle" style='color:#1f5bff;'></i></h1></th>
                    <td><h6>Сначала создайте модель</h6>
                        <p>Создайте ваш проект. Инструкцию можете посмотреть на нашем сайте.</p></td>
                  </tr>
                  <tr>
                    <th scope="row"><h1><i class="bi bi-2-circle" style='color:#1f5bff;'></i></h1></th>
                    <td><h6>Затем подайте заявку</h6>
                        <p>Все очень просто! Заполните анкету и подайте заявку. Не забудьте прикрепить файлы.</p></td>
                  </tr>
                  <tr>
                    <th scope="row"><h1><i class="bi bi-3-circle" style='color:#1f5bff;'></i></h1></th>
                    <td><h6>Отслеживайте статус вашего заказа.</h6>
                        <p>Отслеживайте статус вашего заказа в своем личном кабинете</p></td>
                  </tr>
                  <tr>
                    <th scope="row"><h1><i class="bi bi-4-circle" style='color:#1f5bff;'></i></h1></th>
                    <td colspan="2"><h6>Ваш заказ готов!</h6>
                        <p>Приходите в гости к нам в лабораторию и заберите ваш заказ. Желательно предупредить заранее.</p></td>
                  </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}