{% extends 'base_generic.html' %}
{% block title %}3D MIEM{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load static %}

<style>
    td, th {
        padding: 10px;
		font-weight: normal;
    }
    
    tr {
        height: 50px;
    }
	
	.text {
		width: 100%;
	}
    .form-group {
		padding-bottom: 30px;
    }
	
	.form-group input {
	    border: none;
	    border-bottom: 1px solid #000;
		padding-bottom: 5px;
	    outline: none;
	    font-size: calc(min(22px, 1.2rem + .12vw)*0.9);
	}
	
	.form-group select {
	    border: none;
	    border-bottom: 1px solid #000;
		padding-bottom: 5px;
	    outline: none;
	    font-size: calc(min(22px, 1.2rem + .12vw)*0.9);
	}
	
	form label, form input, form select {
        font-size: calc(min(22px, 1.2rem + .12vw));
    }
	
	input[type="file"] {
		border: none;
		border-bottom: none;
		outline: none;
	}
	
	::placeholder {
		opacity: 0.75; /* Opacity of the placeholder text */
	}

	.custom-button {
		font-size: calc(min(22px, 1.2rem + .12vw)*0.8);
		border-radius: 50px;
	}

	.invalid-feedback {
		font-size: calc(min(22px, 1.2rem + .12vw)*0.75);
	}


</style>

<div class="mt-auto" style="padding: 5% 0 10% 0;">
    <div class="container p-4">
        <p class='text-center mb-4 display-6'>
            <strong>Подача заявки на 3D печать</strong>
            <br>
        </p>
        <p class='text-center mb-4 fs-4'>
            <small class="text-muted">Срок рассмотрения заявки может варьироваться от 1 рабочего дня до 3-х</small>
        </p>
    </div>

	<div class="d-flex justify-content-center align-items-center" style="margin-left: 10px; margin-right: 10px;">
		<div class="form-container">
			<form method="POST" enctype="multipart/form-data" novalidate>
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group mb-3 {% if field.errors %} has-error {% endif %}">
						<label class="form-label" for="{{field.id_for_lable}}" style="margin-bottom: 10px;">{{ field.label }}</label>
						{% if field.errors %}
						{{ field|add_class:"is-invalid" }}
						<div class="invalid-feedback">
							{% for error in field.errors %}
								{{ error }}
							{% endfor %}
						</div>
						{% else %}
						{{ field }}
						{% endif %}
					</div>
				{% endfor %}
				<div class="text-center" style="margin-top: 10px;">
					<button type="submit" class="btn btn-primary btn-lg custom-button" value="Send">Заказать</button>
				</div>
			</form>
		</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Заявка успешно отправлена!</h5>
                <button type="button" class="btn-close close-modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы можете подключить уведомления об изменении статуса заявки через нашего Telegram-бота.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'home/js/jquery-3.6.4.min.js' %}"></script>
<script>
	$(document).ready(function() {
		{% if form.is_valid %}
			$('#successModal').modal('show');
		{% endif %}
	
		// Redirect to homepage after modal is closed
		$('.close-modal').click(function() {
			$('#successModal').modal('hide');
			window.location.href = "/"; // Replace with your homepage URL
		});
	
	});
</script>


{% endblock %}


