<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Instructions</title>
</head>
<body>
	<h1>Замкнутость поверхности</h1>
	<p>Одним из самых важных требований является целостность поверхности модели. Другими словами, каждая вершина должна быть соединена ребрами и являться частью полигона, не должно быть свободных ребер или вершин, не относящихся к поверхности. При этом какие-либо полигоны не должны отсутствовать, разрывая общую поверхность.</p>

    <p class='text-center mb-4 display-6'>
        <strong>КАКИМ ДОЛЖЕН БЫТЬ ФАЙЛ С МОДЕЛЬЮ?</strong>
        <br>
    </p>

</body>
</html>