{% extends 'base_generic.html' %}
{% block title %}3D MIEM{% endblock %}
{% block content %}

<style>
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  p {
    font-size: calc(min(40px, (1.375rem + 1.5vw))*0.5);
  }

  h1 {
    font-size: calc(min(40px, (1.375rem + 1.5vw))*0.8);
    font-weight: 300;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .title {
    font-size: calc(min(40px, (1.375rem + 1.5vw)));
    font-weight: 300;
    line-height: 1.2;
  }
</style>

	<div class="mt-auto" style="padding: 6% 0 5% 0;">
        <div class="container p-4">
            <p class='text-center mb-4 title'>
                <strong>Инструкция по подготовке 3d-модели</strong>
                <br>
            </p>
            <h1 class="text-center">Замкнутость поверхности</h1>
            <br>
            <p>Одним из самых важных требований является целостность поверхности модели. 
              Другими словами, каждая вершина должна быть соединена ребрами и являться частью 
              полигона, не должно быть свободных ребер или вершин, не относящихся к поверхности.
               При этом какие-либо полигоны не должны отсутствовать, разрывая общую поверхность.</p>
          
            <h1 class="text-center">Минимальная толщина</h1>
            <br>
            <p>Любая поверхность должна иметь минимальную толщину в 
              зависимости от материала, из которого она будет печататься. Для печати в лаборатории 
              толщина стенок объекта должна составлять не менее 1мм.</p>

            <h1 class="text-center">Пересечение поверхностей</h1>
            <br>
            <p>Модель должна иметь непрерывную внешнюю оболочку, 
              иначе внутри объекта создается поверхность с бесконечно малой толщиной стенки, 
              которая не сможет быть напечатана.</p>

            <h1 class="text-center">Ориентация поверхностей</h1>
            <br>
            <p>Большая часть программ для моделирования определяет 
              направление поверхностей (обычно оно задается направлением, ориентацией нормалей). 
              Для того, чтобы корректно определить объем модели, все поверхности должны быть 
              ориентированы наружу. <br>Наложения поверхностей или полигонов в модели тоже необходимо 
              избегать, программа обработки будет считать это ошибкой и не определит правильный объем.</p>
            
            <h1 class="text-center">Распределенная нагрузка</h1>
            <br>
            <p>Обратите внимание на пропорции и распределение нагрузки в 
              вашей модели. Если вы хотите добиться устойчивости, то стоит проверить площадь 
              опорной точки и конструкцию подставки. Иногда необходимо добавить дополнительные 
              элементы для стабильности. <br>Еще один важный момент — это части модели, которые 
              находятся под постоянной нагрузкой. Допустимая нагрузка зависит от используемого 
              материала, но мы всё-таки советуем избегать таких конструкций или предусматривать 
              дополнительное упрочнение. Иначе модель может быть повреждена при извлечении из 
              принтера, обработке и дальнейшем использовании.</p>
            
            <h1 class="text-center">Каким должен быть файл с моделью?</h1>
            <br>
            <p>Формат файла .STL <br>
            Программы для экспорта в STL: Autodesk 3ds Max, Blender, Solid Works, NX6, Компас 3D, Fusion <br>
            Файл не должен превышать 100Мб. Чем меньше размер и проще модель, тем лучше.
            </p>
            <h1 class="text-center">Особенности моделирования для печати</h1>
            <br>
            <p>Максимально возможная область печати составляет круг диаметром 400 мм. Рекомендуемые размеры моделей - 197 х 215 х 305 мм.<br>
            Минимальные размеры и толщина объектов - не менее 1,2 мм.
            </p>
        </div>
    </div>
{% endblock %}